@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

.columns:nth-child(2)
    {margin-top: -10rem;}


 /* #map {
    height: 100%;
  } */
  
  /* Optional: Makes the sample page fill the window. */
  /* html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  } */

  
    

  

